

.postForm {
    border: 0.1px solid lightgray;
}

.formTextPost {
    align-items: center;
    margin-left: 18px;
    margin-bottom: 2px;
}

#formTextarea {
    width: 90%;
}

.post {
    border: 0.1px solid lightgray;
    margin-bottom: 10px;
    padding: 2px;
}